
.Header {
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;

}

.Header input {
  margin-right: 10px;
  flex: 1;
}

.Body {
  display: flex;
  flex-direction: row;
}

.LeftCol {
  flex: 1;
}

.RightCol {
  flex: 1;
  padding-left: 20px;
}
